
.navbar-section{
       max-width:1440px;
        height:698px;
       background-image: url(./Assets/Hero-bg.png);
        margin: 0 auto;
        
}

   
   
  
    


.nav{  
    max-width:1440px;
           
   
     
    display: flex;
    justify-content: space-between;
    margin-left: 50 auto;
    gap:auto;
}
.btn{
    background-color:#4E47FF ;
    width: 132px;
    height: 48px;
    border-radius: 10px;
    margin-right:120px;
    color:white;
    
}
.logo{margin-left: 120px;
    color: #4E47FF;
}
.header{ justify-content: center;
        text-align: center; 
       width: 905px;
        height: 237px;
        margin-top: 200px;
        margin-left:250px;
}
.btn2{
     align-items: center;
     margin-top:37px;
     padding:10px;
     width: 174px;
     height:48px;
     background-color: #4E47FF;
     color:white;
     border-radius: 10px;
}
.action-section{   
    max-width: 1440px;
    height: 328px; 
     display: flex;   
     align-items: center;      
    margin-left: 220px;
    gap:200px;
    margin-top:100px;
}
.action-section .left-side{
    width: 517px;
    height: 213px;
    margin-left: 100px;
    margin-right:80px;
}


.text-2{
    color: #252432;
    text-align: center;
    justify-content: center;
}
.img1{
    width: 403px;
    height: 328px;
    border-radius: 48px;
}
.productive{ 
    max-width:1140px;
    height: 306;
    margin-left: 220px;
    display: flex;
    justify-content: space-around;
    background-color:#D3D3D3;
    border-radius: 10px;
    margin-top: 50px;
}

 .producitve-info{ 
    
    width: 180px;
    height: 121px;
    font-family:"Inter", sans-serif;
    color:#4E47FF;
    font-weight: bold;
    font-size:80px ;
    margin-top: 100px;
    margin-right:20px;
    gap:20px

 }


.users{max-width: 1140px;
    height: 320px;
    justify-content: space-around;
    margin-left:220px;
    gap:20px;
    text-align: center;
    

}
 .user-exp{ width:200px;
    height: 50px;
    display: flex;
    gap:50px;
    margin-top:10px;
    
    
    

 }
 .icon{ width:116px;
    height:20px;
    margin-top: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
 }
 .designers{
    margin-bottom: 10px;
    margin-top: 10px;
    
 }
 .focus{
    max-width: 1140px;
    height: 697px;
    margin-left: 220px;
    background-color: aliceblue;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top:50px;

 }
.img-2{
    width: 840px;
    height: 365px;
    border-radius: 48px;
    margin-top: 120px;
    margin-right:0;
}
.text-better{
    text-align: center;
    font-weight: bold;
    font-size: 70px;
    margin-left: 15px;
}
.btn-3{margin-top: 10px;
    border-radius: 10px;
    background-color:#4E47FF;
    padding:10px;
    width: 195px;
    height: 48px;
    color: white;
    font-weight: bold;
}
.get-in{ max-width: 1140px;
    height: 632px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin-left: 220px;
    margin-top: 50px;
    text-align: start;
    font-weight: bold;
    background-color: aliceblue;;
    
    



}
.email{width: 497px;
    height: 70px;
    padding:5px;
    border: 10px;
    margin-right:10px;
    border: 1px lightgoldenrodyellow;
    background-color: white;
    text-align: start;
    
}
.contact{ max-width: 1140px;
    height: 632px;
    display: flex;

}
.btn-4{
            width: 497px;
            height: 62px;
            background-color: #4E47FF;
            padding:10px;
            border-radius: 10px;
            color: white;
}
.logo-section{
                max-width: 1140px;
                height: 428px;
                background-color: whitesmoke;
                margin-top: 60px;
                margin-left: 220px;
                text-align: center;

}
.logo1{
        margin-top: 20px;
        font-family:"Inter", sans-serif;
        color:#4E47FF;
        text-decoration: none;
        font-size: 100px;
        font-weight:bolder
}
.logo-section .contact-icon{
    display: flex;
            gap:20px;
            margin: 40px;
            justify-content: center;
            text-align: center;
            color: #8987A1;
            text-decoration: none;
            text-decoration-color: none;

}
.btn-5{
    width: 120px;
       
    padding:30px;
    align-items: center;
    text-align: center;
    background-color: orange;
    }
.btn-5:hover{
    background-color: #8987A1;
color:white;

}